@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom transition for the sidebar */
#sidebar {
    transition: transform 0.3s ease-in-out;
}

.translate-x-full {
    transform: translateX(-100%);
}

.translate-x-0 {
    transform: translateX(0%);
}

.nav-link.active {
    background-color: #BAEADA;
    color: #00B074;
}

.nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #10B981;
}

.nav-link a:hover {
    transition: 0.2s;
    background-color: #10B981;
    color: #FFFFFF;
}

.nav-link.active a:hover {
    background: none;
    color: #10B981;
}

/* CSS for progress bar */
.circle-point {
    position: relative;
}

.circle-point.current::before {
    content: '';
    width: 65%;
    height: 65%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.active{
    @apply bg-primary-100 text-primary-900
}

.unactive{
    @apply text-gray-500 hover:bg-gray-100 hover:text-gray-700
}